body{
  margin: 0;
  background-color: #ddfdff;
}

.dialogue-box {
  display: block;
  color: black;
  width: 300px;
  padding: 20px;
  margin: 30px auto;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  position: relative;
}
