body{
  margin: 0;
  background-color: #408080;
}

#dialogue-box {
  display: block;
  color: black;
  margin: 0 auto;
  width: 708px;
  bottom: 20%;
  left: 24%;
  position: absolute;
}

#dialogue-box p {
    font-family: 'press start 2p', cursive;
    top: 21%;
    left: 10%;
    font-size: 1.13em;
    position: absolute;
}


