#card {
    position: absolute;
    display: grid;
    left: '-10vh';
    z-index: 3;
    background-color: rgba(7, 7, 7, 0.849);
    color: #fff;
    width: 25%;
    height: 100vh;
    text-align: center;
    h2{
      font-family: 'press start 2p', cursive;
    }
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
  }
  
  
  #no-card {
    position: absolute;
    
    z-index: 3;
    background-color: rgba(7, 7, 7, 0.849);
    color: #fff;
    width: 25%;
    height: 100vh;
    text-align: center;
    h2{
      font-family: 'press start 2p', cursive;
    }
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
}