%sidebar{
   position: absolute;
    right: 50%;
    z-index: 3;
    background-color: rgba(7, 7, 7, 0.849);
    width: 33%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: grid;
    justify-items: center;
  }

  @media only screen and (max-width: 1600px) {
    #pokemon{
      transform: scale(1.5, 1.5);
    }
  }

  
  #card {
    @extend %sidebar;
    cursor: initial;
    grid-template-rows: 50% 50%;
    position: absolute;
    height: 300px;
    width: 500px;
    top: 75px;
    background-color: steelblue;
    border-radius: 15px;
    border: 2px solid; 
    #pokemon{

      transform: scale(.5);
      width: 500px;
      display: block;
      
      #sprite{
        margin: 25px auto;
        transform: scale(2, 2)
      }
      #stats{
        width: 100%;
        font-size: 1.33em;
        display: grid;
        grid-template-columns: repeat(3, auto);
        p{
          margin: 0 10px;
        }
        
      }
      #abilities{
        width: 500px;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        padding-left: 0;
        li{
          padding: 1% 2%;
          background-color: tomato;
        }
      }
    }}



#btncaption{
  margin: 10px 0px 2.5px;
}

#pokeball{
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: url("http://pixelartmaker.com/art/797ff81281c7a32.png") no-repeat;
  background-size: contain;
}
#pokeball:hover{
  transform: translateX(10px);
  background: url("http://pixelartmaker.com/art/e7cb1a05e60dd2e.png") no-repeat;
  background-size: contain ;
}
#catch{
  background: none;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  outline: none;
}


  
#no-card {
    @extend %sidebar;
    width: 33%;
    align-items: center;
    h2{
      font-family: 'press start 2p', cursive;
    }
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
}

  