%sidebar{
   position: absolute;
    right: 0;
    z-index: 3;
    background-color: rgba(7, 7, 7, 0.849);
    width: 33%;
    height: 100vh;
    color: #fff;
    text-align: center;
    display: grid;
    justify-items: center;
}

#card {
    @extend %sidebar;
    grid-template-rows: 50% 50%;

    #pokemon{
      width: 99%;
      display: grid;
      grid-template-rows: 15% 65% 10%;
      #name{
        text-align: left;
      }
      #info{
        display: grid;
        grid-template-columns: 50% 50%;
        #col1{
          position: relative;
          #sprite{
            height: 250px;
            position: absolute;
            left: -7.5%;
          }
        }
        #col2{
          text-align: left;
          align-self: center;
          p{
            margin: 0;
            padding: 0;
          }
          ul{
            list-style-type: none;
            padding: 0;
            li{
  
            }
          }
        }
      }
      
      
    }}

   
  


  
#no-card {
    @extend %sidebar;
    align-items: center;
    h2{
      font-family: 'press start 2p', cursive;
    }
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
}

  