%sidebar{
   position: absolute;
    right: 0;
    z-index: 3;
    background-color: rgba(7, 7, 7, 0.849);
    width: 33%;
    height: 100vh;
    color: #fff;
    text-align: center;
    display: grid;
    justify-items: center;
}

#card {
    @extend %sidebar;
    grid-template: repeat(8, 10%) / repeat(4, 25%);   
    grid-template-areas: " . name name . "
                          " . sprite sprite . "
                          " . . . . "
                          " . hp atk . "
                          " . def wt . "
                          " ab ab ab ab ";
    #name{
      margin-top: 15px;
      grid-area: name;
    }
    #sprite {
      grid-area: sprite;
      min-height: 50%;
  
    }
    #hp{
      grid-area: hp;
    }
    #atk{
      grid-area: atk;
    }
    #def{
      grid-area: def;
    }
    #weight{
      grid-area: wt;
    }
    #abilities{
      grid-area: ab;
      justify-self: center;
      .ability{
      width: 100%;
      padding: 2% 5%;
      text-align: center;
      margin: 15px auto;
     
      }
    }
  }
  
  #no-card {
    @extend %sidebar;
    align-items: center;
    h2{
      font-family: 'press start 2p', cursive;
    }
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
}

  