
%slotgrid{
  position: absolute;
  right:7.5%;
  top:4%;
  display: grid;
  grid-template: repeat(2, 80px) / repeat(2, 80px);
  gap: 3px;
}


#trainerCard{
    position: absolute;
    right: 0;
    z-index: 3;
    background-color: rgba(7, 7, 7, 0.849);
    width: 33%;
    height: 100%;
    color: #fff;
    text-align: center;  
      
      #name{
        text-align: center;
      }
      #inventory{ 
        position: relative;
        
        margin: 0 auto;
        
        #trainer{
          position: absolute;
          left: 0;
          height: 300px;
          width: 300px;
          #trainerSprite{
            height: 300px;
            z-index: 2;
          }
          #equip{
            position: absolute;
            right: 6%;
            bottom: 26%;
            transform: scale(1.45, 1.45);
            z-index: 1;
          }
        }
        #slots{
          @extend %slotgrid;
          
          .slot{
            height: 80px;
            width: 80px;
            margin: 3px;
            background-color: #363636;
            transition: .3s;
            img{
              margin: 0;
              height: 96px;
            }
          }
          .slot:hover{
            background-color: #535353;
          }
          }
          #pokemonInSlot{
            @extend %slotgrid;
              img{
                margin: 3px;
                width: 80px;
                height: 80px;
                transition: .2s;
              }
              img:hover{
                background-color: #8d8d8d;
              }   
          }
      }
      #pokeballs{
        position: absolute;
    top: 245px;
    left: 22%;
    transform: scale(.75);
        img{
          height: 60px;
          width: 60px;
          transition: .5s;
        }
      }
}