 #trainer{
      width: 99%;
      display: grid;
      grid-template-rows: 15% 85%;
      #name{
        text-align: left;
      }
      #info{
        display: grid;
        grid-template-columns: 30% 20% 50%;
        #col1{
          position: relative;
          #trainerSprite{
            position: absolute;
            left: -35%;
            height: 300px;
            }
        }
        #col2{
          position: relative;
          #equip{
            position: absolute;
            left:-2.5%;
            bottom:20%;
            transform: scale(1.5, 1.5);
          }
        }
        #col3{
          margin: auto auto;
          display: grid;
         
          #slots{
            display: grid;
            grid-template: repeat(2, 96px) / repeat(2, 96px);
            .slot{
              height: 85px;
              width: 85px;
              margin: 3px;
              background-color: #363636;
              transition: .3s;
            }
            .slot:hover{
              background-color: #535353;
            }
          }
          
        }
      }
    }