body{
  margin: 0;
  background-color: hsl(180, 37%, 19%);
}

#dialogue-container {
  display: grid;
  grid-template-areas: 
    "oak" 
    "box";
}

#oak {
    height: 400px;
    grid-area: oak;
    margin: 0 auto -15px;
}

#dialogue-box {
  color: black;
  margin: 0 auto;
  width: 708px;
  grid-area: box;
  position: relative;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

#dialogue-box p {
    font-family: 'press start 2p', cursive;
    animation: typing 2s steps(35, end);
    white-space: nowrap;
    overflow: hidden;
    top: 21%;
    left: 10%;
    font-size: 1em;
    letter-spacing: .15em;
    position: absolute;
}


