body{
  margin: 0;
  background-color: hsl(180, 37%, 19%);
}

#dialogue-container {
  display: grid;
  grid-template-areas: 
    "oak" 
    "box";
}

#oak {
    height: 400px;
    grid-area: oak;
    margin: 10% auto -15px;
}

#dialogue-box {
  color: black;
  margin: 0 auto;
  width: 708px;
  grid-area: box;
  position: relative;
}

#dialogue-box img {
  position: absolute;
  top: 60%;
  right: 8%;
  height: 18%;
  transform: scaleX(-1);
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


#dialogue-text {
  font-family: 'press start 2p', cursive;
  animation: typing 2s steps(35, end);
    white-space: nowrap;
    overflow: hidden;
    top: 34%;
    left: 10%;
    font-size: 1em;
    letter-spacing: .15em;
    position: absolute;
}

#name-box {
  position: absolute;
  top: 55%;
  left: 10%;
}

#submit-btn {
  position: absolute;
  top: 55%;
  right: 20%;
}


